* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #eef0f8;
}

#app {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
}
